* {
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

#app-user {
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  #home {
    background: #81b826;
  }
}
